@use "../../global" as *;


.c-card {
  & + & {
    margin-top: rem(47);
    @include mq(sp) {
        margin-top: rem(27);
    }
  }
}

.c-card__head {
  padding-left: rem(18);
  position: relative;
  &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      translate: transformY(-50%);
      width: rem(8);
      height: rem(1);
      background: $black;
  }
  p {
    @include font(14, 24, 0, 400);
  }
}

.c-card__body {
  margin-top: rem(8);
  img {
    width: rem(368);
    height: auto;
    aspect-ratio: 368 / 232;
    @include mq(sp) {
      width: 100%;
  }
  }
}

