//------------------------------------------------------
//　ヘッダーメニュー (header.scss)
//------------------------------------------------------

@use "../../global" as *;

.p-header__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: rem($pc-camp);
    height: 100%;
    margin: 0 auto;
    padding-left: rem(90);
    @include mq(sp) {
        flex-direction: column;
        align-items: start;
        margin-top: rem(18);
        padding: 0 rem($sp-sidePadding);
    }
}

.p-header__logo {
    transition: all  0.3s ease;
    &:hover {
        opacity: 0.7;
    }
a {
    img {
        width: rem(100);
        height: auto; 
        aspect-ratio: 100 / 25;
        @include mq(sp) {
            width: rem(80);
        }
    }

}
}

.p-header__nav {
    display: flex;
    align-items: center;
    gap: rem(30);
    margin-left: rem(60);
    @include mq(sp) {
        margin-top: rem(8);
        margin-left: 0;
    }
    li {
        font-size: rem(14);
        font-family: $en-fontFamily;
        transition: all  0.3s ease;
        &:hover {
            opacity: 0.7;
        }
    }
}

.p-header__button {

    @include font(12, 24, 0, 400);
    background: $black;
    height: inherit;
    margin-left: auto;
    @include mq(sp) {
        display: none;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
    width: rem(200);
    height: inherit;

    }
    transition: all  0.3s ease;
    &:hover {
        opacity: 0.7;
    }
}