
@use "../../global" as *;

.p-news {
  margin-top: rem(130);
  @include mq(sp) {
    margin-top: rem(80);
  }
}

.p-news__inner {

}


.p-news__wrapper {

}

.p-news__head {

}



.p-news__body {
  display: flex;
  margin-top: rem(50);

@include mq(sp) {
    display: block;
    margin-top: rem(44);
}
}

.p-news__entry {
  display: block;
  width: calc(100% / 3);
  padding-top: rem(10);
  padding-bottom: rem(14);
  padding-right: rem(20);
  transition: all  0.3s ease;
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  @include mq(sp) {
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
  }
  & + & {
    padding-left: rem(20);
    border-left: rem(1) solid $black;
    @include mq(sp) {
      border: none;
      padding-left:  0;
      margin-top: rem(38);
    }
  }
}

.p-news__meta {
  display: flex;
  align-items: center;
  gap: rem(20);
}

.p-news__time {
  @include font(14, 24, 0, 400);
  font-family: $en-fontFamily;
}

.p-news__tag {
  display: flex;
  justify-content: center;
  align-items: center;
  @include font(12, 24, 0, 400);
  font-family: $en-fontFamily;
  color: $white;

  width: rem(50);
  height: rem(20);
  background: $black;
}

.p-news__title {
  margin-top: rem(13);
  p {
    @include font(16, 24, 0, 400);
  }
}

